<h2 class="entry-title">Strands</h2>

<div class="strands-content">
  <div id="strands-timeline" style="height: 500px; border: 1px solid #aaa"></div>
</div>
	
<p/>

<div id="strands-footer">
  <% if logged_in? %>
    <a href="nodes/new">create a new node</a>
  <% else %>
    <a href="/login">login</a> or <a href="/signup">signup</a> to create new nodes
  <% end %>
</div>