<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag 'application.css', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">

function onLoad() {
  var eventSource = new Timeline.DefaultEventSource();
  var bandInfos = [
    Timeline.createBandInfo({
        eventSource:    eventSource,
        width:          "90%", 
        intervalUnit:   Timeline.DateTime.MONTH, 
        intervalPixels: 100
    }),
    Timeline.createBandInfo({
        showEventText:  false,
        trackHeight:    0.5,
        trackGap:       0.2,
        eventSource:    eventSource,
        width:          "30%", 
        intervalUnit:   Timeline.DateTime.YEAR, 
        intervalPixels: 200
    })
  ];
  bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
  
  tl = Timeline.create(document.getElementById("strands-timeline"), bandInfos);
  tl.loadXML("/strands/show_nodes/<%= params[:id] %>/nodes.xml", function(xml, url) { eventSource.loadXML(xml, url); });
}

  </script>
</head>

<body onload="onLoad();" onresize="onResize();">
<div id="container">
  <div id="header">
    <h1><span><a href="/">strnds.com</a></span></h1>
    <h2>connect time/space</h2>
  </div>

  <div id="page">
    <div id="content">
      <%= @content_for_layout %>
    </div>

    <div id="sidebar">
      <!-- search -->

      <!-- sidebar components -->
      <%= render_sidebars %>
      
      <!-- adsense -->
      <%= render :partial => 'shared/adsense' %>
        
    </div>
    <br style="clear:both;" />
  </div>

  <div id="footer">
    <hr />
    <p><a href="/">strnds.com</a></p>
    <ul>
      <li>powered by <a href="http://simile.mit.edu/timeline">SIMILE timeline</a> and <a href="http://typosphere.org">typo</a> /
          styled with <a href="http://quotedprintable.com/pages/scribbish">scribbish</a></li>
    </ul>
  </div>
</div>
</body>
</html>
